body{

    padding: 20px;
    background:  linear-gradient(to bottom,rgb(159, 211, 196), rgb(238, 252, 176) );
    height:100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family:  sans-serif;
}
#form{
    min-width: 400px;
    color:rgba(0, 0, 0, 0.789);
    margin:0px auto;
    width:fit-content;
    padding:5px 33px;
    background: linear-gradient(to bottom, rgb(226, 251, 113), rgb(63, 204, 161));
   font-weight: 700;
}
#container{
    margin: 0 auto;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 4px 5px 9px rgba(1, 0, 0, 0.567);
}

#input{
    box-shadow: 0px 0px 7px rgba(171, 217, 198, 0.878);
    padding:5px;
    border-radius: 5px;
    border: none;
    background-color:rgba(45, 209, 141, 0.047) ;
}
#input:focus{
    border:none;
    outline:none;
}
#btn:hover{
    cursor:pointer;
margin:0px auto;
 padding:5px;
    border-radius: 5px;
    border: none;
    background-color:rgba(171, 217, 198, 0.386) ;
}
#btn{
cursor:pointer;
margin:0px auto;
 padding:5px;
    border-radius: 5px;
    border: none;
    background-color:rgba(45, 209, 140, 0.386) ;
}
#city{
    padding:2px;
    font-weight: 900;
    font-size: 25px;
margin:0px auto;
}

#error{
    color: red;
    padding: auto;
    margin:0px auto;
}
#emoji{
    padding:10px;
    margin: 0px auto;
    text-shadow: 0px 2px 1px black;
    font-weight: bold;
    font-size: 34px;
}
#weather{
    margin:0px auto;
    font-size:14px;
}
#humidity{
    padding :9px;
    font-size:12px;
margin: 0px auto;
}
#temp{
margin: 0px auto;
padding:6px;
}