body{

    padding: 20px;
    background-color: rgba(50, 50, 50, 0.282);
    height:100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family:  sans-serif;
}
#form{
    border-top-left-radius: 30px;
    border-top-right-radius:30px;
    margin:0px auto;
    width:fit-content;
    padding:5px 33px;
    background: linear-gradient(to bottom, rgb(226, 251, 113), rgb(63, 204, 161));
   font-weight: 700;
}
#appBody{
 border-bottom-left-radius: 30px;
    border-bottom-right-radius:30px;
    margin:0px auto;
    /* width:fit-content; */
    padding:0px 50px;
    background: linear-gradient(to bottom, rgb(82, 204, 168),rgb(135, 200, 89));
   font-weight: 700;
}
#container{
    margin: 0 auto;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.567);
}

#input{
    box-shadow: 0px 0px 7px rgba(171, 217, 198, 0.878);
    padding:5px;
    border-radius: 5px;
    border: none;
    background-color:rgba(45, 209, 141, 0.047) ;
}
#input:focus{
    border:none;
    outline:none;
}
#btn:hover{
    cursor:pointer;
margin:0px auto;
 padding:5px;
    border-radius: 5px;
    border: none;
    background-color:rgba(171, 217, 198, 0.386) ;
}
#btn{
cursor:pointer;
margin:0px auto;
 padding:5px;
    border-radius: 5px;
    border: none;
    background-color:rgba(45, 209, 140, 0.386) ;
}
#city{
    padding:2px;
    font-weight: 900;
    font-size: 25px;
margin:0px auto;
}

#error{
    color: red;
    padding: auto;
    margin:0px auto;
}
#emoji{
    margin: 0px auto;
    text-shadow: 0px 2px 1px black;
    font-weight: bold;
    font-size: 34px;
}
#weather{
    margin:0px auto;
    font-size:14px;
}
#humidity{
margin: 0px auto;
}
#temp{
margin: 0px auto;
padding:6px;
}